main {
    padding: 20px 0;
    width: 100%;
}

.banner {
    background-color: #f8f8f8;
    padding: 40px;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 8px;
}

.banner h2 {
    color: black;
    margin-bottom: 15px;
}

.banner p {
    max-width: 700px;
    margin: 0 auto 25px;
    color: #333;
}

.produtos h3 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.grade-produtos {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 300px;
    padding: 25px;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    text-align: center;
}

.card h4 {
    color: black;
    margin-bottom: 12px;
    ;
}

.link-produto {
    display: inline-block;
    margin-top: 15px;
    color: #0066CC;
    text-decoration: none;
    font-weight: bold;
}

.link-produto:hover {
    text-decoration: underline;
}

footer {
    background-color: #222;
    color: white;
    padding: 40px 0 20px;
    margin-top: 50px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

footer h5, footer h6 {
    color: #FFCC00;
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 6px 0;
}

footer a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    color: #999;
    font-size: 14px;
}

.butoes {
    padding: 8px 19px 8px 20px;
    background-color: #00C200;
    color: white;
    border-radius: 4px;
    border-color: #00C200;
    margin: 10px;
}

.butoes:hover{
    color: #00C200;
    background-color: white;
    
}

.botoes {
        color: #00C200;
    background-color: white;
    padding: 8px 19px 8px 20px;
    border-radius: 4px;
    border-color: #00C200;
    color: #00C200;
    margin: 5px;


    
}

.botoes:hover{
    color: #00C200;
    background-color: white;
    padding: 8px 19px 8px 20px;
    background-color: #00C200;
    color: white;
    border-radius: 4px;
    border-color: #00C200;
    margin: 5px;
    
}

.alinhar{
    display: flex;
    justify-content: right;
    padding: 10px;
}

.texto{
    text-align: left;
}

.selecionar{
        color: #00C200;
    background-color: white;
    padding: 8px 19px 8px 20px;
    background-color: #00C200;
    color: white;
    border-radius: 4px;
    border-color: #00C200;
    margin: 5px;
}

.selecionar:hover{
    color: #00C200;
    background-color: white;
    padding: 8px 19px 8px 20px;
    border-radius: 4px;
    border-color: #00C200;
    color: #00C200;
    margin: 5px;
}

.bordaimagem{
    border: 1px solid  #DBDBDB;
    border-radius: 4px;
    padding: 40px;
}

.curacao{
    position: absolute;
}

.estrela{
    align-items: start;
    display: flex;
    text-size-adjust: 10px;
}

h4{
    text-align: start;
    font-weight: 400px;
}

